
/* nodes */
user-node {
    margin: 10%;
    float: left;
    position: relative;
}

.dz-preview img {
    width: 100%;
    margin-left: 7px;
}
.node.node-circle img {
    width: 100%;
    border-radius: 100%;
    /* height: 100%; */
}
#nodes .node-circle {
    width: 108%;
}

p { font-family: 'Roboto', sans-serif, cursive!important; color:#698BB8;}
#nodes { height: 100vh; overflow: scroll; padding-bottom: 200px;}
.node-block { width: 25%; float: left; /* border: 1px solid; */}
.node-container { width: 92px; float: left; margin: 0 auto; margin-left: 31%; margin-top: -23%; margin-bottom: 20%; z-index: 10; position: relative;}
.node{ width: 100%;}
.active .node-circle { background-color: #284F83;}
.node-circle { width: 100%; height: 0; padding-bottom: 97%; border-radius: 50%; border: 5px solid #cfdcec; /*overflow: hidden;*/ background: #4679BD; box-shadow: 0 0 3px gray; margin-top: 100%;}
i {
    position: absolute;
    top: 204px;
    width: 100%;
    text-align: center;
    font-style: normal;
    z-index: 99;
    font-family: sans-serif;
    font-size: 10px;
    color: #A5A5A5;
    left: 2px;
}
@-webkit-keyframes active{0%{ -webkit-transform:scale(.1); opacity:0;}50%{ opacity:0; }60%{ -webkit-transform:scale(1.5); opacity:.4;}90%{ opacity:0;}100%{ opacity:0;}}
@keyframes active{ 0%{ transform:scale(0); opacity:0;} 60%{ opacity:.4; } 80%{ opacity: .1;} 100%{ transform:scale(5); opacity:0;}} 
.node-circle:hover{ background-color: black; }
.node-status.active::after, .beacon::after { border: 1px solid #cfcfcf; display: block; content: ''; -webkit-animation: active 3s infinite linear; animation: active 3s infinite linear; height: 10px; margin-top: -149px; margin-left: -43px; border-radius: 100%; padding: 100%; margin-bottom: -100%; position: relative; z-index: 1; -moz-box-shadow: 0px 0px 5px rgba(182, 179, 253, 0.15); -webkit-box-shadow: 0px 0px 5px rgba(182, 179, 253, 0.15); box-shadow: 0px 0px 5px rgba(182, 179, 253, 0.15); float: left; clear: none;}

/* Tranfers & Uploads */



@-webkit-keyframes spin-right {100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg);}}
@keyframes spin-right { 100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg);}}
.pending .package img { width: 15px;}

/* Drop Zone */
.dz-preview{ 
    /*-webkit-animation: fadeOut 2s linear; */
    /*animation: fadeOut  2s linear; */
    position: relative; 
    top: 90px; 
    left: 11px; 
    z-index: 100;
}

.pending .package, .dz-preview {
    top: 53px;
    left: 56px;
    height: 170px;
    border-width: 3px;
    -webkit-animation: spin-right 3s linear infinite;
    -moz-animation: spin-right 3s linear infinite;
    -ms-animation: spin-right 3s linear infinite;
    -o-animation: spin-right 3s linear infinite;
    animation: spin-right 3s linear infinite;
    z-index: 1;
    position: absolute;
}

.dz-preview:nth-child(0) { animation-duration: 2800ms; height: 170px; top: 53px;}
.dz-preview:nth-child(1) { animation-duration: 2700ms; height: 180px; top: 43px;}
.dz-preview:nth-child(2) { animation-duration: 2600ms; height: 190px; top: 33px;}
.dz-preview:nth-child(3) { animation-duration: 2500ms; height: 200px; top: 23px;}
.dz-preview:nth-child(4) { animation-duration: 2400ms; height: 210px; top: 13px;}
.dz-preview:nth-child(5) { animation-duration: 2300ms; height: 220px; top: 3px;}
.dz-preview:nth-child(6) { animation-duration: 2200ms; height: 230px; top: -13px;}

.dz-image {
    overflow: hidden;
    border-radius: 100%;
    height: 30px;
    top: -1px;
    left: 0px;
    position: absolute;
    width: 30px;
}
.dz-image img { left: -25%; position: relative;}
.dz-preview:hover, .package:hover { -webkit-animation-play-state: paused; animation-play-state: paused;}



.dz-details, .dz-progress, .dz-error-message, .dz-success-mark, .dz-error-mark{ display: none;}


/* Client Controls */
.client-controls { width: 100%; height: 27vh; display: block; background: white; float: left; text-align: center; z-index: 99; opacity: 0.9; position: fixed; bottom: 0px; min-height: 256px; left: 0px;}
.client-controls .node-block.client { width: 200px; margin: 0 auto; float: none; clear: both; margin-top: -14px;}
.client i { left: 0px;}
.client-controls.scrolling{ -webkit-box-shadow: -1px -1px 9px -2px rgba(123, 143, 187, 0.46); -moz-box-shadow: -1px -1px 9px -2px rgba(123, 143, 187, 0.46); box-shadow: -1px -1px 9px -2px rgba(123, 143, 187, 0.46); -webkit-transition: all 200ms linear; -o-transition: all 200ms linear; -moz-transition: all 200ms linear; -ms-transition: all 200ms linear; -kthtml-transition: all 200ms linear; transition: all 200ms linear;}
.client-controls.scrolling{ -webkit-transition: all 200ms linear; -o-transition: all 200ms linear; -moz-transition: all 200ms linear; -ms-transition: all 200ms linear; -kthtml-transition: all 200ms linear; transition: all 200ms linear;}
::-webkit-scrollbar {  display: none; }
.client-controls .container { float: left; width: 80%; margin-top: -13px; margin-left: 12%;}
.client-controls .container .options p { float: left; padding: 7px;}
.client-controls .container p { margin: 0 auto; padding: 7px;}
.client-controls .container .options { width: auto; margin: 0 auto; display: inline-flex;}


/* Bottom Menu */
.menu { width: 100%; position: fixed; bottom: 0px; height: 29px; border: 1px solid rgba(70, 121, 189, 0.14); z-index: 100;}
.menu i { font-size: 22px; position: relative; top: 3px; color: #6695D3; width: 60px; height: 10px; opacity: 1; z-index: 200;}
.right { float: right;}

.container-chat
{
	position: absolute;
	z-index: 100;
	bottom: 0;
	margin: 0px 0px 11px 0px;

}

/* Chat Box */
/*client-chat {
    display: none;
}*/

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}
.chat .img-circle {
    border-radius: 50%;
    width: 46px;
}
.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
    display: none;
}

.panel-footer
{
    display: none;
}

.container-chat
{
    width: 50%;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.img-circle
{
    height: 50px;
    width: 50px;
}
