
/* nodes */
p { font-family: 'Roboto', sans-serif, cursive!important; color:#698BB8;}
#nodes { height: 100vh; overflow: scroll; padding-bottom: 200px;}
.node-block { width: 25%; float: left; /* border: 1px solid; */}
.node-container { width: 92px; float: left; margin: 0 auto; margin-left: 31%; margin-top: -23%; margin-bottom: 20%; z-index: 10; position: relative;}
.node{ width: 100%;}
.active .node-circle { background-color: #284F83;}
.node-circle { width: 100%; height: 0; padding-bottom: 100%; border-radius: 50%; border: 5px solid #cfdcec; /*overflow: hidden;*/ background: #4679BD; box-shadow: 0 0 3px gray; margin-top: 100%;}
i { position: absolute; top: 104px; width: 100%; text-align: center; font-style: normal; z-index: 99; font-family: sans-serif; font-size: 10px; color: #A5A5A5;}
@-webkit-keyframes active{0%{ -webkit-transform:scale(.1); opacity:0;}50%{ opacity:0; }60%{ -webkit-transform:scale(1.5); opacity:.4;}90%{ opacity:0;}100%{ opacity:0;}}
@keyframes active{ 0%{ transform:scale(0); opacity:0;} 60%{ opacity:.4; } 80%{ opacity: .1;} 100%{ transform:scale(5); opacity:0;}} 
.node-circle:hover{ background-color: black; }
.node-status.active::after, .beacon::after { border: 1px solid #cfcfcf; display: block; content: ''; -webkit-animation: active 3s infinite linear; animation: active 3s infinite linear; height: 10px; margin-top: -149px; margin-left: -43px; border-radius: 100%; padding: 100%; margin-bottom: -100%; position: relative; z-index: 1; -moz-box-shadow: 0px 0px 5px rgba(182, 179, 253, 0.15); -webkit-box-shadow: 0px 0px 5px rgba(182, 179, 253, 0.15); box-shadow: 0px 0px 5px rgba(182, 179, 253, 0.15); float: left; clear: none;}

/* Uploader */
.dz-preview{ opacity: 0; -webkit-animation: fadeOut 2s linear; animation: fadeOut  2s linear; position: absolute; top: 0px; left: 0px;}
.pending .package { position: absolute; top: -40%; left: 39%; height: 170px; border-width: 3px; /* border-style: solid; */ /* border-color: black; */ /* border-radius: 50%; */ -webkit-animation: spin-right 10s linear infinite; -moz-animation: spin-right 10s linear infinite; -ms-animation: spin-right 10s linear infinite; -o-animation: spin-right 10s linear infinite; animation: spin-right 10s linear infinite; z-index: 1;}
.package:hover { -webkit-animation-play-state: paused; animation-play-state: paused;}
@-webkit-keyframes spin-right {100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg);}}
@keyframes spin-right { 100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg);}}
.pending .package img { width: 15px;}
.client-controls { width: 100%; height: 27vh; display: block; background: white; float: left; text-align: center; z-index: 99; opacity: 0.9; position: fixed; bottom: 0px; min-height: 256px; left: 0px;}
.client-controls .node-block.client { width: 200px; margin: 0 auto; float: none; clear: both; margin-top: -14px;}
.client i { left: 0px;}
.client-controls.scrolling{ -webkit-box-shadow: -1px -1px 9px -2px rgba(123, 143, 187, 0.46); -moz-box-shadow: -1px -1px 9px -2px rgba(123, 143, 187, 0.46); box-shadow: -1px -1px 9px -2px rgba(123, 143, 187, 0.46); -webkit-transition: all 200ms linear; -o-transition: all 200ms linear; -moz-transition: all 200ms linear; -ms-transition: all 200ms linear; -kthtml-transition: all 200ms linear; transition: all 200ms linear;}
.client-controls.scrolling{ -webkit-transition: all 200ms linear; -o-transition: all 200ms linear; -moz-transition: all 200ms linear; -ms-transition: all 200ms linear; -kthtml-transition: all 200ms linear; transition: all 200ms linear;}
::-webkit-scrollbar {  display: none; }
.client-controls .container { float: left; width: 80%; margin-top: -13px; margin-left: 12%;}
.client-controls .container .options p { float: left; padding: 7px;}
.client-controls .container p { margin: 0 auto; padding: 7px;}
.client-controls .container .options { width: auto; margin: 0 auto; display: inline-flex;}
.dz-image { overflow: hidden; border-radius: 100%; height: 94px; top: -1px; left: 0px; position: absolute; width: 92px;}
.dz-image img { left: -25%; position: relative;}
.dz-details, .dz-progress, .dz-error-message, .dz-success-mark, .dz-error-mark{ display: none;}

/* Bottom Menu */
.menu { width: 100%; position: fixed; bottom: 0px; height: 29px; border: 1px solid rgba(70, 121, 189, 0.14); z-index: 100;}
.menu i { font-size: 22px; position: relative; top: 3px; color: #6695D3; width: 60px; height: 10px; opacity: 1; z-index: 200;}
.right { float: right;}